<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <title>test</title>
  </head>
  <body>
<h1 class="card" >Archivo#index</h1>
<table>
  <thead>
    <th>Nombre</th>
    <th>Apellido</th>
    <td colspan="2">
      <a class="btn btn-success" href="<%= archivo_new_path %>">Nuevo </a></td>
  </thead>

<tbody>
<% @personas.each do |p| %>
<tr>


  <td><%= p.nombre %></td>
  <td><%= p.apellido %></td>
  <td>  <a class="btn btn-warning" href="<%= archivo_edit_path(p.id) %>">Editar </a></td>
  <td><a class="btn btn-danger" href="<%= archivo_destroy_path(p.id) %>">Borrar </a></td>
  </tr>
<% end %>
</tbody>


</table>
  </body>
</html>
