<h1>Editar Laboratorios</h1>
<%= form_for :laboratorio, url: laboratorios_update_path  do |f| %>
<%= f.hidden_field :id %> 
<%= f.label :lab_desc, 'Nombre:' %><br>
<%= f.text_field :lab_desc %> <br>
<%= f.label :active, 'Activo', :value => 1 %>
<%= f.radio_button :active,1, :checked =>true %>
<%= f.label :active, 'Inactivo', :value => 0 %>
<%= f.radio_button :active,0  %> <br>
<%= f.submit "Enviar" %>
<% end %>
