<!DOCTYPE html>
<html>
  <head>
    <title>Proy01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="menu navbar">
      <ul>
        <li class="nav-item"><%=link_to 'Inicio',  main_index_path %></li>
        <li class="nav-item"><%=link_to 'saludo',  main_saludo_path %></li>
        <li class="nav-item"><%=link_to 'Personas', archivo_index_path %></li>
      <li class="nav-item"><%=link_to 'Personas - New', archivo_new_path %></li>
      </ul>
    </div>
<div class="container">
  <%= yield %>
</div>
<footer class="conteiner ">
<h4>DW3 - 2019</h4>
</footer>

  </body>
</html>
